.env
logs/error.log
logs/info.log
logs/debug.log
output/out.ttl
output/out.csv

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Log files
pip-log.txt
pip-delete-this-directory.txt
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv, pipenv, poetry
.python-version
Pipfile.lock
poetry.lock

# Virtual environments
.env
.venv
env/
venv/
ENV/
__pypackages__/

# VS Code
.vscode/
.history

# IntelliJ / PyCharm / IDEA
.idea/
*.iml
*.iws
*.ipr
# Recommended to keep settings for team collaboration
!.idea/codeStyles/

# Sublime Text (optional)
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db

# SFTP and package control configs (optional)
s
